/* Setting up the body of the page so that all containers are aligned vertically */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-width: min-content;
}


/* Styling and setting up the first container */

#one {
    background-color: #1F2937;
    min-width: 0;
    min-height: 0;
    height: auto;
    padding: 50px 150px 50px 150px;

    display: flex;
    flex-direction: column;
}

.header {
    font-size: 24px;
    color: #f9faf8;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subcontainer-left {
    width: 50%;
    padding: 10px;
}

span.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

span.secondary-text {
    font-size: 18px;
    color: #f9faf8
}

.sign-up, .sign-up a {
    background-color: #3882f6;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    margin: 4px 2px;
}

.subcontainer-right {
    height: 200px;
    width: 50%;
    padding: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}


a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    list-style: none;
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

/* Styling and setting up second container */

#two {
    background-color: white;
    min-width: 0;
    min-height: 0;
    height: auto;
    padding: 0px 150px 50px 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 10px;
    padding-bottom: 15px;
    display: flex;
}

.pictures-container {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 20px;
    padding: 8px;
}

.picture {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.picture-template {
    width: 200px;
    height: 200px;
    margin: 4px;
    background-color: white;
    border: solid 2px rgb(29, 127, 238);
    border-radius: 8px;
}

/* Styling and setting up third container */

#three {
    background-color: #e5e7eb;
    min-width: 0;
    min-height: 0;
    padding: 50px 150px 50px 150px;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-box {
    padding-left: 300px;
    padding-right: 300px;

    display: flex;
    flex-direction: column;
}

.quote {
    font-weight: 100;
    font-style: italic;
    font-size: 36px;
    color:#1F2937
}

.quotee {
    font-weight: bold;

    display: flex;
    justify-content: flex-end;
}

/* Styling and setting up the fourth container */

#four{
    background-color: white;
    min-width: 0;
    min-height: 0;
    padding: 50px 150px 50px 150px;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.subcontainer-four {
    background-color: #3882f6;
    padding: 50px 150px 50px 150px;px 300px 50px 300px;
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
}

.call-to-action {
    color: white;
    padding: 8px;
    align-self: flex-start;
}

.call-to-action .text1{
    font-weight: bold;
}

.sign-up-four{
    align-self: flex-end;
    color: white;
    background-color: #3882f6;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 8px;
    margin: 4px 2px;
    padding: 2px 20px 2px 20px;

}

/* The bottom of the page that contains the footer */

.footer {
    color: #e5e7eb;
    background-color: #1F2937;
    margin-top: auto;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}