body {
    display: flex;
    flex-direction: column;

    margin: 0;
    min-height: 100vh;
}

/* Styling and setting up the first container */

.container-one{
    background-color: #1F2937;
    height: 400px;
    padding-left: 300px;
    padding-right: 300px;

    display: flex;
    flex-direction: column;
}

.header {
    font-size: 24px;
    color: #f9faf8;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subcontainer-left {
    width: 50%;
    padding: 10px;
}

span.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

span.secondary-text {
    font-size: 18px;
    color: #f9faf8
}

.sign-up, .sign-up a {
    background-color: #3882f6;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    margin: 4px 2px;
}

.subcontainer-right {
    height: 200px;
    width: 50%;
    padding: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}


li {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

/* Styling and setting up second container */

.container-two{
    background-color: white;
    height: 300px;
    padding-left: 300px;
    padding-right: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 10px;
    padding-bottom: 15px;
    display: flex;
}

.pictures-container {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.picture {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.picture-template {
    width: 100px;
    height: 100px;
    background-color: white;
    border: solid 2px blue;
    border-radius: 4px;
}

/* Styling and setting up third container */

.container-three{
    background-color: #e5e7eb;
    height: 200px;
}

.container-four{
    background-color: white;
    height: 200px;
}

.footer {
    color: #e5e7eb;
    background-color: #1F2937;
    margin-top: auto;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}